.League {
    padding: var(--default-component-padding);
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    justify-content: space-between;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 15vh;
        min-width: 60vw;
    }
    .league_title {
       min-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    
    .animatedIcon path {
        animation-name: blacktowhite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }
  }
  