.League {
    padding: var(--default-component-padding);
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    justify-content: space-between;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 15vh;
        min-width: 60vw;
    }
  }
  