.navbar {
    // background-color: #111316;
    background-color: var(--primary-bg);
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 8vh;
    padding: 0.5em;
    justify-content: flex-start;
    color: #ffffff;
}
.nav-link {
    text-transform: uppercase;
    color: var(--text-primary);
    transition: all 0.7s ease;
}
.nav-profile {
    @extend .nav-link;
    margin-left: auto;
    text-transform: none;
}
.nav-profile:hover{
    transition: all 0.7s ease;
    img {
        transition: all 0.7s ease;
        height: 35;
        width: 35;
    }
}
.nav-link:hover {
    color: var(--text-primary);
}

.profileName {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.round {
    border-radius: 50%;
}
