:root {
    --primary-black: #282c34;
    --primary-white: #ffffff;
    --default-component-padding: 4em 2em 1em 2em;
    --container-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
    --text-primary: #ffffff;
    --primary-button-bg: rgb(20, 20, 20)
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* DEFAULT RESETS */
html, body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a, span {
    color: var(--primary-white);
}

/* UTILIY CLASSES */
.primary-btn {
    background-color: var(--primary-button-bg);
    color: var(--text-primary);
    box-shadow: var(--container-shadow);
    transition: all 0.5s ease-in-out;
    padding: 0.5em 1em;
    border-radius: 6px;
}
.primary-btn:hover {
    background-color: var(--primary-white);
    color: var(--primary-button-bg);
}
.primary-text {
    color: var(--primary-white);
}
.container-shadow {
    box-shadow: var(--container-shadow);
}