 .App {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(13,11,11,1) 20%, rgba(0,0,0,0.9110994739692753) 45%, rgba(13,12,12,0.8158613787311799) 80%);
  min-height: 100vh;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
