
.modal-title {
    color: var(--text_primary)
}
.overlay {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
  }

  .content {
    margin: 10% auto;
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 40vh;
    width: 50vw;
    padding: 2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    
    h4,p {
      color: var(--text_primary);
    } 
    .error-message {
      color: red
    }
    .modal-footer {
      border: none;
    }
    
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}

.success-container {
  p {
    color: var(--text_primary);
  }
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
      margin: 10% auto;
    background-color: #CFEFE0;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
    
    padding: 2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}
    
